/**
 * @author Ravi
 */
header
{
	font-size:2em;
	margin-left: 200px;
	margin-bottom: 20px;
}

.divsvg
{
    width: 100px;
	//height: 0px;
    height: 20px;
    overflow:hidden;
    //padding:50px;
    //background: rgba(0,0,255,0.3);
    border:0.5px #000;
    //border-bottom:1px dashed #000;
} 

#wrapper
{
	
}

#left_content
{
	float: left;
	height:auto;
	width:300px;
	margin-top: 5px;
	border: 1px solid;
}

#left_content ul
{
	-webkit-padding-start: 20px;
}

#context_box
{
	min-height: 40px;
	border: 1px solid;
}

#right_content
{
	float:left;
	margin-left: 30px;
	height:auto;
	width:600px;
}

ul
{
	list-style:none;
}
li 
{
    margin-top: 10px;
}

.labels
{
	width:260px;
	display:block;
}

.side_text
{
	font-size:0.8em;
}

