/**
 * @author Ravi
 */
body
{
	font-family:Helvetica;
}

header
{
	border: 1px solid;
	text-align:center;	
	background-color:#D9D9D9;
	width: 800px;
	font-size:2em;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.divsvg
{
    width: 100px;
	//height: 0px;
    height: 10px;
    overflow:hidden;
    //padding:50px;
    //background: rgba(0,0,255,0.3);
    border:0.5px #000;
    //border-bottom:1px dashed #000;
} 

#wrapper
{
	
}

#left_content
{
	float: left;
	height:auto;
	width:300px;
	margin-top: 5px;
	border: 1px solid;
}

#left_content ul
{
	padding-left: 20px;
}

highlight
{
	//text-decoration: underline;
	font-weight: bold;
}

#context_box
{
	min-height: 40px;
	border-top: 1px solid;
	padding-left: 15px;
	padding-top: 15px;
	font-size: 12px;
	background-color:#D9D9D9;
}

#right_content
{
	float:left;
	margin-left: 30px;
	height:auto;
	width:600px;
	padding-bottom: 50px;
}

ul
{
	list-style:none;
}
li 
{
    margin-top: 10px;
}

.labels
{
	width:260px;
	display:block;
}

.side_text
{
	font-size:0.7em;
}

h4
{
	margin-bottom:0px;
}

input
{
	font-size:10px;
	width: 50px;
}

table 
{
	border-collapse: collapse;
	border-spacing:0px;
	padding: 0px;
	font-size: 8px;
	font-family: Helvetica;
}


table tr
{
	border-spacing:0px;
	overflow: hidden;
	text-overflow:clip;
	white-space:nowrap;	
}

thead th
{
	width: 10px;
	overflow: hidden;
	text-overflow:clip;
	white-space:nowrap;	
}
th
{
	font-size: 12px;
	text-decoration: underline;	
}

th:hover
{
	color:red;
}

.ui-resizable-s 
{
	height: 7px;
}	

#behaviorslider .ui-widget-header
{
	background:#EE9A49;
}

#medicationslider .ui-widget-header
{
	background:#EE9A49;
}

#sleepslider .ui-widget-header
{
	background:#41AB5D;
}

#bmslider .ui-widget-header
{
	background:#EE9A49;
}

.th_div{
	min-width: 5px;
	display: block;
	overflow: hidden;
	text-overflow: clip;	
    white-space: nowrap;
}